.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;   /* full screen height */
  text-align: center;
}

.mat-toolbar button {
  margin-left: 16px; /* Perfect Material spacing */
}

.toolbar-logo {
  width: 50px;
  height: auto;
  margin-right: 12px;
}
