/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";

:root {
  --inter-font: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

html, body {
  height: 100%;
  font-family: 'Inter', sans-serif;
}

body, .recipes-container {
  background: #FFFFFF;
}

html, body, app-root, .mat-application-wrapper, .app-container {
  overflow: visible !important;
}

.cookaroo-toolbar.mat-elevation-z4 {
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.30);
  position: relative;
  z-index: 10;
}
