
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }


:root {
  @include mat.toolbar-overrides((
    container-background-color: green,
    container-text-color: white,
  ));
  @include mat.icon-overrides((
    color: #ffffff,
  ));
}


.main-content {
  padding-top: 64px; /* Default for Desktop */
}

/* Adjust padding for smaller screens (e.g., width less than 600px) */
@media (max-width: 599px) {
  .main-content {
    padding-top: 56px; /* Adjust for common mobile toolbar height */
  }
}


.mat-mdc-button:hover,
.mat-mdc-icon-button:hover {
  border-color: rgba(255, 255, 255, 0.85);  // white outline
  background-color: rgba(255, 255, 255, 0.08); // subtle glow
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.15); // soft halo
}

.recipe-card-action {
  justify-content: space-between;
}

button.mdc-button.mat-mdc-button-base.screen-button.mat-mdc-button.mat-unthemed {
  color: green;
}

.screen-button:hover {
  background-color: rgba(49, 168, 18, 0.12); // soft green glow
  color: #4af41d;
}

